@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá!</h1>
    <p>
        Olá, sou Tiago Floriano de Lima. Atualmente, estou imerso no curso de Análise e Desenvolvimento de Sistemas, onde descobri minha afinidade e interesse pela área da programação. Minha jornada acadêmica despertou minha paixão pela construção de sistemas e aplicativos, levando-me a buscar ativamente oportunidades como desenvolvedor. Tive a oportunidade de trabalhar com Banco de Dados, principalmente utilizando o SQL SERVER.
    </p>
</div>
